.delete-dialog .MuiDialog-paper {
    border-radius: 12px;
    padding: 16px;
    background-color: #fafafa;
}

.delete-dialog-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #d32f2f; /* темноцрвена боја */
}

.delete-dialog-content {
    font-size: 1.1rem;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #333;
}

.delete-dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.btn-cancel {
    color: #555;
    font-weight: 500;
}

.btn-delete {
    background-color: #d32f2f;
}

.btn-delete:hover {
    background-color: #b71c1c;
}
